<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/mystyle.css}" />
<title>>Images Catalog Home Page</title>
</head>

<body>
	<div>
		<ul class="header">
			<li><a class="logout-button" th:href="@{/Logout}">Logout</a></li>
			<li><b><a class="user-header"
					th:text="#{User} + ' ' + ${session.user.name + ' ' + session.user.surname}">
				</a></b></li>
		</ul>
	</div>
	<h1 th:text="#{PageTitle}">Catalogo Immagini</h1>
	<hr>
	<div class="container">
		<div class="column">
			<div class="row" th:each="category : ${categories}">
				<div class="column" id="left-column">
					<p th:text="${category.code + ' ' + category.name}">1 First</p>
				</div>
				<div class="move-column" id="right-column">
					<form th:action="@{/SelectCategory}" method="POST"
						id="move-category-form">
						<input type="hidden" name="categoryId" th:value="${category.id}">
						<input type="hidden" name="fatherId"
							th:value="${category.fatherId}"> <input type="hidden"
							name="categoryCode" th:value="${category.code}"> <input
							type="submit" th:value="#{Move}" />
					</form>
				</div>
			</div>
		</div>
		<div class="column formbox">
			<h1 th:text="#{FormTitle}">Create a new category</h1>
			<form th:action="@{/CreateCategory}" method="POST" autocomplete="off">
				<p>
					<input type="text" name="name" th:placeholder="#{NamePlaceholder}"
						required>
				</p>
				<p>
					<label th:text="#{FatherLabel}" for="fatherId">Choose a
						father:</label> <select name="fatherId" th:field="*{fatherId}"
						th:disabled="${isRoot} == 'on'">
						<option th:utext="'NONE (' + #{Root} + ')'" th:value="-1"></option>
						<option th:each="category : ${categories}"
							th:value="${category.id}"
							th:utext="${category.code + ' ' + category.name}"></option>
					</select>
				</p>
				<p>
					<input type="submit" th:value="#{CreateButton}">
				</p>
			</form>
		</div>
	</div>
</body>
</html>