<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="all"
	th:href="@{/css/mystyle.css}" />
<title>>Images Catalog Home Page</title>
</head>

<body>
	<div>
		<ul class="header">
			<li><a class="logout-button" th:href="@{/Logout}">Logout</a></li>
			<li><b><a class="user-header"
					th:text="#{User} + ' ' + ${session.user.name + ' ' + session.user.surname}">
					</a></b></li>
		</ul>
	</div>
	<h1 th:text="#{PageTitle}">Welcome to the Images Catalog</h1>
	<hr>
	<div class="container">
	<div class="row" th:each="category : ${categories}">
		<div class="column">
			<p th:text="${category.code + ' ' + category.name}"
				th:style="${category.belongsTo(subtreeIndexes) ? 'color:#ff1a1a' : 'color:#000000'}">1
				First</p>
		</div>
		<div class="move-column">
			<form
				th:unless="${category.belongsTo(subtreeIndexes) || category.id == fatherId}"
				th:action="@{/UpdateCategory}" method="POST" id="move-category-form">
				<input type="hidden" name="categoryId" th:value="${categoryId}">
				<input type="hidden" name="oldFatherId" th:value="${fatherId}">
				<input type="hidden" name="newFatherId" th:value="${category.id}">
				<input type="hidden" name="oldCategoryCode" th:value="${categoryCode}">
				<input type="submit" th:value="#{MoveHere}" />
			</form>
		</div>
	</div>
	</div>
</body>
</html>